---
import Image from "astro/components/Image.astro";
import myLogo from '../../public/expe_logo.png';
---

<header class="px-24 max-sm:px-5 max-w-7xl">
    <a href="/" class="px-24 py-12 max-sm:px-5 max-sm:py-10 max-w-7xl">
        <Image src={myLogo} alt="Expenses App Logo" width="100" height="100"/>
    </a>
</header>